# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# Android
android/.gradle/
android/captures/
android/local.properties
android/GeneratedPluginRegistrant.java
android/app/google-services.json

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/

# Misc
.DS_Store
*.log
android/app/supready-debug.jks
